%h3
  = cue.user.name
  %small= cue.subtitle
.well
  %blockquote= cue.user.speeches.pluck(:text).join('<br>').html_safe

%p You can highlight whatever you find important by selecting the text you like and clicking the button `highlight`
%a.btn.btn-primary#save-text Highlight

:coffeescript
  responsiveVoice.speak("#{j cue.user.speeches.pluck(:text).join('. ')}", "#{j cue.speak_options}")
  $('#save-text').hide()
  $('#save-text').on 'click', ->
    Kolich.Selector.save()
