%tr
  %td
    = cue.position
    .label.label-info.st_active{ id: "active_#{cue.id}" } Active
  %td= cue.name
  %td= cue.gesture
  %td= truncate cue.text
  %td= cue.room.name
  %td
    %a.btn.btn-primary.activate{ data: { id: cue.id }}= (cue.gesture == 'bot') ? 'Talk' : 'Play'
