%tr
  %td
    = cue.position
    .label.label-info.st_active{ id: "active_#{cue.id}" } Active
  %td= cue.name
  %td= cue.action
  %td= cue.duration
  %td
    %a.btn.btn-primary.activate{ data: { id: cue.id }} Play
